.Header {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: #45852D;
}

.Filter {
    margin-left: 16px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.3px;
    color: #363636;
}

.Input {
    padding: 12px 20px;
    margin: 8px 0;
    outline: none;
    margin-left: 20px;
    height: 50px;
    width: 40%;
    border: 1px solid #D8D8D8;
    box-sizing: border-box;
    border-radius: 25px;
}

.Homes {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
}

@media (max-width: 1180px) {
    .Homes {
      max-width: 970px;
    }
  }
  
  @media (max-width: 992px) {
    .Homes {
      max-width: 750px;
    }
  }
  
  @media (min-width: 767px) {
    .Homes {
      max-width: none;
    }
  }

.Button {
    cursor: pointer;
    margin: 30px auto 45px;
    display: block;
    width: 150px;
    height: 50px;
    border: 1px solid #D8D8D8;
    box-sizing: border-box;
    border-radius: 25px;
    background: #FFFFFF;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.3px;
    color: #363636;
}

.ButtonArrow {
    position: relative;
    top: 1px;
    left: 3px;
    width: 4.04px;
    height: 14.83px;
}