.Header {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    margin-top: 36px;
    line-height: 49px;
    text-align: center;
    color: #45852D;
}

.Page {
    margin: 0 50px;
}

.Filter {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.3px;
    color: #363636;
    margin-right: 10px;
}

.Input {
    padding: 12px 20px;
    margin: 8px 0;
    outline: none;
    width: 418px;
    height: 50px;
    margin: 43px 0 45px;
    border: 1px solid #D8D8D8;
    box-sizing: border-box;
    border-radius: 25px;
}

@media (max-width: 767px) {
    .Header {
        font-size: 28px;
    }

    .HomePreview {
        width: 100%;
    }

    .Input {
        width: calc(100% - 47px);
    }
}

.Homes {
    display: block;
}


.Button {
    cursor: pointer;
    margin: 22px auto 77px;
    display: block;
    width: 150px;
    height: 50px;
    border: 1px solid #D8D8D8;
    box-sizing: border-box;
    border-radius: 25px;
    background: #FFFFFF;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.3px;
    color: #363636;
}

.ButtonArrow {
    position: relative;
    top: 1px;
    left: 3px;
    width: 4.04px;
    height: 14.83px;
}