.LinkToFullPost {
    text-decoration: none;
    color: #363636;
    cursor: pointer;
}

.HomePreview {
    display: inline-block;
    background: #F8F8F8;
    border: 1px solid #D8D8D8;
    box-sizing: border-box;
    margin-bottom: 38px;
}


@media (max-width: 767px) {
    .HomePreview {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1089px) {
   .HomePreview {
        margin-right: 4%;
        width: 48%;
    }

    .HomePreview:nth-of-type(2n) {
        margin-right: 0;
    }
}

@media (min-width: 1090px) {
    .HomePreview {
        margin-right: 2%;
        width: 32%;
    }

    .HomePreview:nth-of-type(3n) {
        margin-right: 0;
    }
}


.Image {
    width: 100%;
}

.Independent {
    margin: -32px 0 0 auto;
    padding: 6px;
    position: relative;
    background: #006F79;
    width: 113px;
    height: 17px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    color: #FFFFFF;
    line-height: 1.5em;
}

.Support {
    margin: -32px 0 0 auto;
    padding: 6px;
    position: relative;
    background: #EC6608;
    width: 188px;
    height: 17px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    color: #FFFFFF;
    line-height: 1.5em;
}

.Info {
    width: 100%;
    box-sizing: border-box;
    padding: 15px 20px;
    line-height: 1;
}

.Title {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #363636;
}

.Address {
    width: 254px;
    height: 22px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #363636;
}

.NewProperties {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #363636;
    margin-top: 15px;
}

.Ownership {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #363636;
}
